[
  {
    "name": "DBS1400 Pro A",
    "id": "REPLACE_WITH_DEVICE_ID_FROM_TUYA_WIZARD",
    "key": "REPLACE_WITH_LOCAL_KEY_FROM_TUYA_WIZARD",
    "version": "3.3",
    "ip": "192.168.86.42",
    "model": "DBS1400Pro"
  },
  {
    "name": "DBS1400 Pro B",
    "id": "REPLACE_WITH_DEVICE_ID_FROM_TUYA_WIZARD",
    "key": "REPLACE_WITH_LOCAL_KEY_FROM_TUYA_WIZARD",
    "version": "3.3",
    "ip": "192.168.86.43",
    "model": "DBS1400Pro"
  }
]
